<%- include('includes/head.ejs') %>

</head>
<body>
    <main style="text-align: center" >
        <h1>404</h1>
        <p>Resource not found. Try the <a href="/" style="text-decoration: none">home</a> page</p>
    </main>
</body>
</html>
