<%- include('./includes/head.ejs') %>

</head>
<body>
    <main>
        <h2>Welcome To Shortlink</h2>
        <form class='url-form' method="POST" action="/encode" 
            novalidate>
            <div class="form-control">
                <% if(Msg) { %>
                    <p class="<%= hasMessage ? 'user-message' : 'user-message user-message--error' %>"><%= Msg %></p>
                <% } %>
                <label for="longUrl">Enter Url</label>
                <input 
                class="<%= validationErrors.find(e => e.path === 'longUrl') ? 'invalid' : '' %>"
                type="text" 
                name="longUrl" 
                id="longUrl" />
            </div>
            <div class="action">
                <button type="submit">Submit</button>
            </div>
        </form>
    </main>
    </body>
    </html>
